In [ ]:
!pip install sqlalchemy==1.3.9

In [ ]:
#Please uncomment and execute the code below if you are working locally.

!pip install ipython-sql

In [ ]:
%load_ext sql

In [ ]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas==1.1.5

In [ ]:
%sql sqlite:///my_data1.db

In [ ]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

In [51]:
df.columns

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

**Note:This below code is added to remove blank rows from table**

In [53]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: http://sqlalche.me/e/e3q8)

Tasks
Now write and execute SQL queries to solve the assignment tasks.

Note: If the column names are in mixed case enclose it in double quotes For Example "Landing_Outcome"

Task 1
Display the names of the unique launch sites in the space mission

In [54]:
# Display the unique launch sites
unique_launch_sites = df['Launch_Site'].unique()
print(unique_launch_sites)

['CCAFS LC-40' 'VAFB SLC-4E' 'KSC LC-39A' 'CCAFS SLC-40']

Task 2
Display 5 records where launch sites begin with the string 'CCA'

In [55]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [56]:
# Filter the dataframe
filtered_df = df[df['Launch_Site'].str.startswith('CCA')]

# Display the first 5 records
print(filtered_df.head(5))

         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

In [66]:
# Display the unique launch sites
unique_launch_sites = df['Launch_Site'].unique()
print(unique_launch_sites)

['CCAFS LC-40' 'VAFB SLC-4E' 'KSC LC-39A' 'CCAFS SLC-40']

Task 3
Display the total payload mass carried by boosters launched by NASA (CRS)

In [57]:
# Filter the dataframe for rows where the 'Customer' is 'NASA (CRS)'
nasa_crs_df = df[df['Customer'] == 'NASA (CRS)']

# Calculate the total payload mass
total_payload_mass = nasa_crs_df['PAYLOAD_MASS__KG_'].sum()

print(f"The total payload mass carried by boosters launched by NASA (CRS) is {total_payload_mass} kg.")

The total payload mass carried by boosters launched by NASA (CRS) is 45596 kg.

Task 4
Display average payload mass carried by booster version F9 v1.1

In [58]:
# Filter the dataframe for rows where the 'Booster Version' is 'F9 v1.1'
f9_v1_1_df = df[df['Booster_Version'] == 'F9 v1.1']

# Calculate the average payload mass
average_payload_mass = f9_v1_1_df['PAYLOAD_MASS__KG_'].mean()

print(f"The average payload mass carried by booster version F9 v1.1 is {average_payload_mass} kg.")

The average payload mass carried by booster version F9 v1.1 is 2928.4 kg.

Task 5
List the date when the first successful landing outcome in ground pad was acheived.
Hint:Use min function

In [59]:
# Filter the dataframe for rows where the 'Landing Outcome' is 'Success (ground pad)'
success_ground_pad_df = df[df['Landing_Outcome'] == 'Success (ground pad)']

# Find the earliest date
first_success_date = success_ground_pad_df['Date'].min()

print(f"The first successful landing outcome in ground pad was achieved on {first_success_date}.")

The first successful landing outcome in ground pad was achieved on 2015-12-22.

Task 6
List the names of the boosters which have success in drone ship and have payload mass greater than 4000 
but less than 6000

In [60]:
#Filter the dataframe for rows where 'Booster_Version' is >

# Filter the dataframe for rows where the 'Landing Outcome' is 'Success (drone ship)'
# and 'Payload Mass (kg)' is greater than 4000 but less than 6000
filtered_df = df[(df['Landing_Outcome'] == 'Success (drone ship)') & 
                 (df['PAYLOAD_MASS__KG_'] > 4000) & 
                 (df['PAYLOAD_MASS__KG_'] < 6000)]

# Get the unique booster names
unique_booster_names = filtered_df['Booster_Version'].unique()

print("The names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000 are:")
for name in unique_booster_names:
    print(name)

The names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000 are:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

Task 7
List the total number of successful and failure mission outcomes

In [61]:
# Get the counts of each unique value in the 'Mission Outcome' column
mission_outcomes = df['Mission_Outcome'].value_counts()

# Print the counts
print(mission_outcomes)

Success                             98
Failure (in flight)                  1
Success (payload status unclear)     1
Success                              1
Name: Mission_Outcome, dtype: int64

In [62]:
# Get the count of successful missions
success_count = (df['Mission_Outcome'] == 'Success').sum()

# Get the count of failure missions
failure_count = (df['Mission_Outcome'] == 'Failure (in flight)').sum()

print(f"Total number of successful missions: {success_count}")
print(f"Total number of failure missions: {failure_count}")

Total number of successful missions: 98
Total number of failure missions: 1

Task 8
List the names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [63]:
#List booster names which have carried the maximum payload

# Write your SQL query
query = """
SELECT "Booster_Version"
FROM SPACEXTBL
WHERE "PAYLOAD_MASS__KG_" = (
    SELECT MAX("PAYLOAD_MASS__KG_")
    FROM SPACEXTBL
)
"""

# Execute the query
cur.execute(query)

# Fetch all the results
results = cur.fetchall()

# Print the results
for result in results:
    print(result)

('F9 B5 B1048.4',)
('F9 B5 B1049.4',)
('F9 B5 B1051.3',)
('F9 B5 B1056.4',)
('F9 B5 B1048.5',)
('F9 B5 B1051.4',)
('F9 B5 B1049.5',)
('F9 B5 B1060.2 ',)
('F9 B5 B1058.3 ',)
('F9 B5 B1051.6',)
('F9 B5 B1060.3',)
('F9 B5 B1049.7 ',)

Task 9
List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.
Note: SQLLite does not support monthnames. So you need to use substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.

In [64]:
# Write your SQL query
query = """
SELECT substr(Date, 6, 2) AS Month, "Booster_Version", "Launch_Site", "Landing_Outcome"
FROM SPACEXTBL
WHERE substr(Date, 0, 5) = '2015' AND "Landing_Outcome" LIKE 'Failure (drone ship)'
"""

# Execute the query
cur.execute(query)

# Fetch all the results
results = cur.fetchall()

# Print the results
for result in results:
    print(result)

('01', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)')
('04', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')

Task 10
Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [65]:
# Write your SQL query
query = """
SELECT "Landing_Outcome", COUNT(*) as Count
FROM SPACEXTBL
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY Count DESC
"""

# Execute the query
cur.execute(query)

# Fetch all the results
results = cur.fetchall()

# Print the results
for result in results:
    print(result)

('No attempt', 10)
('Success (drone ship)', 5)
('Failure (drone ship)', 5)
('Success (ground pad)', 3)
('Controlled (ocean)', 3)
('Uncontrolled (ocean)', 2)
('Failure (parachute)', 2)
('Precluded (drone ship)', 1)